//yellows

$beige: #fff4df;
$offwhite: #faf0e6;
$salmon: #f19782;
$yellow: #f9bb43;
$orange: #ee8046;
$green: #216957;
$paleblue: #3b608a;
$blue: #5391c9;
$darkred: rgb(85, 4, 4);
$red: rgb(165, 0, 41);
